.m-size {
    width: 50%;
    height: 50%;
}

.centering-text {
    text-align: center;
}

.bg-img {
    background-image: url(../imgs/welcome-bg.jpg);
    opacity: 0.5;
    object-fit: cover;
}

.rounded {
    border-radius: 50%;
}

.white-text {
    color: white;
}


.card {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.card.selected {
    border: 2px solid red;
}